[submodule "external_libs/dirent"]
	path = external_libs/dirent
	url = https://github.com/tronkko/dirent.git
[submodule "external_libs/glm"]
	path = external_libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "external_libs/TinyFileDialogs"]
	path = external_libs/TinyFileDialogs
	url = https://github.com/Sejoslaw/TinyFileDialogs.git
[submodule "external_libs/imgui-1.49"]
	path = external_libs/imgui-1.49
	url = https://github.com/ocornut/imgui.git
[submodule "external_libs/tiny_file_dialogs-2.7.3"]
	path = external_libs/tiny_file_dialogs-2.7.3
	url = https://github.com/Sejoslaw/TinyFileDialogs.git
[submodule "external_libs/glfw-3.2.1"]
	path = external_libs/glfw-3.2.1
	url = https://github.com/glfw/glfw.git
